<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <style>
      .sent {
        background-color:yellow;
        float: right;
        break-after: bottom;
      }
      .replies {
        background-color: red;
        float: left;
        margin: auto;
        margin-bottom: 2px;
      }
      .chat-log {
        border: solid black 2px;
        border-radius: 3px;
      }
    </style>
</head>
<body>
  <div id="chat-log">

  </div>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/> -->
    <div>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
  </div>
</body>
<script src="{% static 'reconnecting-websocket.js' %}">
</script>
<script>
    var roomName = {{ room_name_json }};
    var username= {{username}}
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var author = message['author']
            //var msgListTag = document.createElement('li');
            //var imgTag = document.createElement('img');
            var pTag = document.createElement('li');
            pTag.textContent = message.content;
           
            if (author==username) {
              pTag.className='sent';
      
            }
            else {
              pTag.className='replies';
            }
            //msgListTag.appendChild(imgTag);
            //msgListTag.appendChild(pTag);
            document.querySelector('#chat-log').appendChild(pTag)
            var s = document.querySelector('#chat-log').value += (message.content + '\n')
      
          };
      
          chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
          };
      
          document.querySelector('#chat-message-input').focus();
          document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
            }
          };
      
          document.querySelector('#chat-message-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
              'message': message,
              'command': 'new_messages',
              'from':username
            }));
      
            messageInputDom.value = '';
          };
</script>
</html>